option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: insurance_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    NumProcesses: 3  # Increase for better performance
    NumThreads: 8